.warning__main{
  width:100vw;
  height: 100vh;
  display: flex;
  padding:5rem;
  flex-direction: column;
  justify-content: center;


}

.warning__main > img{
  max-width: 400px;
}

.warning__main span{
  color: #95CD41;
}